* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
}


#canvas {
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    /* border: 1px solid red; */
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #feb52b;
    font-size: 80px;
    font-weight: bold;
    font-family: 'Manrope';
}
